.row {
    position: relative;
}

img {
    width: 150px;
}

.actions, .action-btn {
    text-align: center;
}

.action-btn:hover {
    cursor: pointer;
}

#events_title {
    margin-right: 35px;
}

#btn_newEvent {
    position: absolute;
    right: 0;
}

@media screen and (min-width: 376px) and (max-width: 575px), screen and (min-width: 376px) and (max-width: 575px) {
    img {
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 375px), screen and (device-max-width: 375px) {
    img {
        width: 100%;
    }
}